<div class="row">
  <div class="col-md-12">
    <h2><b>Ingreso de Equipo</b></h2>
    <!-- <form
      #f="ngForm"
      (ngSubmit)="doAction(f)"
      ngNativeValidate
      class="was-validated"
    > -->
    <hr />
    <div class="row">
      <!-- Fecha Ingreso del equipo -->
      <div class="form-group col-md-3">
        <label for="title">Fecha de Ingreso</label>
        <input
          class="form-control"
          type="date"
          oninvalid="setCustomValidity('El campo es obligatorio')"
          oninput="setCustomValidity('')"
          id="ingresoFecha"
          name="ingresoFecha"
          placeholder=""
          [(ngModel)]="item.ingresoFecha"
          required
        />
      </div>
      <div class="form-group col-md-4">
        <label for="title">Número de nota</label>
        <input
          class="form-control"
          type="text"
          oninvalid="setCustomValidity('El campo es obligatorio')"
          oninput="setCustomValidity('')"
          id="notaNro"
          name="notaNro"
          placeholder="Ingrese número de nota"
          [(ngModel)]="item.notaNro"
          required
        />
      </div>
      <!-- persona que trae -->
      <div class="form-group col-md-6" required>
        <label for="">Persona que trae:</label>
        <app-fil-persona
          [dibujar]="item.ingresoEntrega"
          (resultado)="personasEncontrados($event)"
        ></app-fil-persona>
      </div>

      <div class="form-group col-md-6" required>
        <label for="">Unidad a la que pertenece:</label>
        <app-filtrounidad
          [dibujar]="item.unidad"
          (resultado)="unidadesEncontradas($event)"
        ></app-filtrounidad>
      </div>
    </div>

    <hr class="hr" />
    <div class="row">
      <!-- equipo -->

      <div class="form-group col-md-6" required>
        <app-filtro-equipo
          [dibujar]="dtItem.equipo"
          (resultado)="equiposEncontrados($event)"
        ></app-filtro-equipo>
      </div>
      <div class="form-group col-md-4">
        <label for="title">Area Perteneciente</label>
        <select
          class="form-control"
          data-style="btn-primary"
          oninvalid="setCustomValidity('El campo es obligatorio')"
          oninput="setCustomValidity('')"
          [(ngModel)]="dtItem.area"
          name="area"
          id="area"
          required
        >
          <option value="INF">INFORMATICA</option>
          <option value="COM">COMUNICACIONES</option>
          <option value="IMP">IMPRESORA</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <label for="title">Falla Mencionada</label>
        <input
          class="form-control"
          type="text"
          oninvalid="setCustomValidity('El campo es obligatorio')"
          oninput="setCustomValidity('')"
          id="fallaMencionada"
          name="fallaMencionada"
          placeholder="Ingrese falla del equipo"
          [(ngModel)]="dtItem.fallaMencionada"
          required
        />
      </div>
    </div>
    <div class="row">
      <!-- Observaciones -->
      <div class="form-group col-md-12">
        <div class="form-floating">
          <label for="floatingTextarea">Observaciones</label>
          <textarea
            [(ngModel)]="dtItem.observaciones"
            class="form-control"
            name="observaciones"
            placeholder="Observaciones del equipo"
            id="observaciones"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        <button
          id="boton"
          type="button"
          title="Guardar"
          placement="top"
          (click)="addRow()"
          show-delay="10"
          class="btn btn-warning btn-lg btn-block float-left"
        >
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="row" *ngIf="dtItems.length > 0; mostrar">
      <table #mostrar id="tabla" class="table">
        <thead class="text-center table-primary">
          <tr>
            <th>Tipo Equipo</th>
            <th>Marca-Modelo</th>
            <th>Falla informada</th>
            <th>Area</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dtItems" class="text-center">
            <td>{{ item.equipo.tipoEquipo.nombre }}</td>
            <td>
              {{ item.equipo.modelo.marca.nombre }} -
              {{ item.equipo.modelo.nombre }}
            </td>
            <td>{{ item.fallaMencionada }}</td>
            <td>{{ area(item.area) }}</td>
            <td>
              <button
                type="button"
                title="Eliminar de la lista"
                placement="top"
                show-delay="10"
                (click)="deleteRow(item)"
                class="btn btn-danger btn-sm btn-redondo"
              >
                <i class="fas fa-calendar-times"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr />
    <div class="form-group">
      <button
        *ngIf="dtItems.length > 0; mostrar"
        type="submit"
        (click)="doAction()"
        [disabled]="procesando"
        name="btn"
        class="btn btn-primary btn-lg btn-block float-left"
      >
        Aceptar
        <ng-container *ngIf="getProceso(); then mostrar"></ng-container>
        <ng-template #mostrar>
          <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
        </ng-template>
      </button>
      &nbsp;
      <a (click)="back()" #cerrar class="btn btn-info btn-lg btn-block">
        <i class="fas fa-arrow-left"></i> Volver
      </a>
    </div>
    <!-- </form> -->
  </div>
</div>
