#titulo {
  font-size: 1.5rem;
  color: black;
}
#titulo2 {
  font-size: 2rem;
  color: blue;
}
.t-success {
  //background-color: lightgreen !important;
  color: green !important;
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
}
