<label for="title">Búsqueda de equipo</label>
<form class="form-inline my-2 my-lg-0">
  <input
    [(ngModel)]="criterio"
    name="criterio"
    class="form-control mr-sm-2"
    type="text"
    placeholder="Buscar"
  />
  <button
    (click)="buscar()"
    class="btn btn-outline-success my-2 my-sm-0"
    type="submit"
  >
    Buscar
  </button>
</form>

<ng-container *ngIf="items.length > 0">
  <select
    style="width: 100%"
    required
    name="equipo"
    (ngModelChange)="seleccionar($event)"
    [(ngModel)]="item"
    [compareWith]="compareFnEq"
    class="form-control form-sm"
    required
  >
    <option *ngFor="let item of items" [ngValue]="item">
    [ {{ item.nroSerie }} ] - {{ item.modelo.marca.nombre }} - {{ item.modelo.nombre }} - {{ item.tipoEquipo.nombre }}
    </option>
  </select>
</ng-container>
