<div class="overlay" *ngIf="load">
  <app-wg-cargando></app-wg-cargando>
</div>
<div>
  <div *ngIf="!load">
    <div class="container-xxl">
      <div class="row">
        <div class="col-md-12 text-center">
          <b id="titulo2"
            ><em><u> Sistema de Gestión de Soporte Técnico</u></em></b
          >
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <b id="titulo">Ingreso de Equipamiento</b>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-md-12">
          <app-fil-equipo-reparacion
            (filter)="doFound($event)"
          ></app-fil-equipo-reparacion>
        </div> -->
      </div>
      <div class="row">
        <table class="table">
          <thead class="bg-info">
            <tr>
              <th>Orden n°</th>
              <th>Fecha Ingreso</th>
              <th>Marca-Modelo</th>
              <th>Serie n°</th>
              <th>Estado</th>
              <th>Fecha Salida</th>
              <th>Unidad</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items">
              <td>{{ item.ordenTrabajo.nroOrden }}</td>
              <td>{{ item.ordenTrabajo.ingresoFecha }}</td>
              <td>
                {{ item.equipo.modelo.marca.nombre }}-{{
                  item.equipo.modelo.nombre
                }}
              </td>
              <td>{{ item.equipo.nroSerie }}</td>
              <!-- <td>{{ item.estadoIngreso }}</td> -->
              <td>{{ item.unidad.nombre }}</td>
              <td>{{ item?.retiraFecha }}</td>
              <td>
                <button
                  type="button"
                  title="Imprimir reporte"
                  placement="top"
                  show-delay="10"
                  class="btn btn-warning btn-sm"
                >
                  <i class="fas fa-edit"></i>
                </button>
                &nbsp;
                <button
                  type="button"
                  title="Agregar detalle reparación"
                  placement="top"
                  show-delay="10"
                  class="btn btn-warning btn-sm"
                >
                  <i class="fas fa-edit"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        *ngIf="items.length === 0"
        class="alert alert-primary alert-dismissible fade show"
        role="alert"
      >
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Salir</span>
        </button>
        <strong>No hay datos</strong>
      </div>
    </div>
    <hr />
    <div class="row">
      <!-- data-toggle="modal" data-target="#modelId" -->
      <button (click)="linkear(0)" class="btn btn-primary">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Ingresar equipo
      </button>
      &nbsp;
      <button class="btn btn-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
        Eliminar equipo
      </button>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="modelId"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modelTitleId"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">ABM ALTA REPARACION</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">Body</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Cancelar
            </button>
            <button type="button" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
