<div class="sonar-wrapper">
    <!-- <audio src="../../../assets/img/sirena-de-policia-efecto-de-sonido.mp3" autoplay></audio> -->
    <div class="sonar-emitter text-center">
        <img src="assets/img/logopol.png" height="170px" style="padding-top: 4em;">
        <p style="text-align: center; color: aliceblue;">Desarrollo de Sistemas</p>

        <div class="contenedor">
            <p>Análisis y Programación
                <img style="border-radius: 25%;" src="assets/img/Sistema.gif" height="30px">
            </p>

            <!-- <div class="texto-encima">Analisis y Programación</div> -->
            <!-- <div class="centrado">Analisis y Programación</div> -->
        </div>


        <div class="sonar-wave">
            <div class="row">
                <div class="col-md-4"> </div>
                <div class="col-md-4">Cargando... </div>
                <div class="col-md-4"> </div>
            </div>
        </div>
    </div>
</div>